In [1]:
import pandas as pd

In [2]:
def show(df, metric, plugin_metric, plugin_models, rscore_models):
    plugin_cols = [f'{metric}_{pm}_{plugin_metric}' for pm in plugin_models]
    rscore_cols = [f'{metric}_rs_{rs_bm}' for rs_bm in rscore_models]
    cols = ['name', f'{metric}_mse', f'{metric}_r2', f'{metric}_mixed'] + plugin_cols + rscore_cols + [f'{metric}_test']
    return df[cols]

## IHDP

In [4]:
plugin_meta_models = ['sl', 'tl']
plugin_base_models = ['dt', 'lgbm', 'cb']
plugin_models = [f'{pmm}_{pbm}' for pmm in plugin_meta_models for pbm in plugin_base_models]
rscore_base_models = ['dt', 'lgbm', 'cb']

ds = 'ihdp'
df_all = pd.read_csv(f'./tables/{ds}_compare_metrics_meta.csv')
avg_metric = 'ate'
ite_metric = 'pehe'

In [5]:
df = show(df_all, avg_metric, 'pehe', plugin_models, rscore_base_models)
df

,name,ate_mse,ate_r2,ate_mixed,ate_sl_dt_pehe,ate_sl_lgbm_pehe,ate_sl_cb_pehe,ate_tl_dt_pehe,ate_tl_lgbm_pehe,ate_tl_cb_pehe,ate_rs_dt,ate_rs_lgbm,ate_rs_cb,ate_test
0,sl,0.246 +/- 0.294,NaN,NaN,1.692 +/- 3.794,4.791 +/- 2.711,1.662 +/- 1.725,0.146 +/- 0.115,0.303 +/- 0.353,0.314 +/- 0.469,1.050 +/- 0.495,0.318 +/- 0.185,0.596 +/- 0.247,0.001 +/- 0.003
1,tl,0.168 +/- 0.293,NaN,NaN,1.725 +/- 3.780,4.791 +/- 2.711,1.600 +/- 1.426,0.395 +/- 0.503,0.230 +/- 0.389,0.233 +/- 0.382,0.968 +/- 0.393,0.202 +/- 0.203,0.335 +/- 0.248,0.000 +/- 0.000
2,ipsws,0.131 +/- 0.101,NaN,NaN,1.668 +/- 3.803,4.791 +/- 2.711,1.350 +/- 1.735,0.315 +/- 0.528,0.388 +/- 0.537,0.352 +/- 0.549,0.935 +/- 0.598,0.315 +/- 0.258,0.528 +/- 0.172,0.001 +/- 0.001
3,dmls,-,NaN,NaN,1.274 +/- 2.499,2.800 +/- 1.972,1.861 +/- 1.517,0.479 +/- 0.842,0.409 +/- 0.377,0.330 +/- 0.376,1.625 +/- 1.775,0.508 +/- 0.542,0.654 +/- 0.459,0.007 +/- 0.010
4,xl,-,NaN,NaN,1.650 +/- 3.810,4.791 +/- 2.711,1.044 +/- 1.000,0.377 +/- 0.551,0.418 +/- 0.640,0.370 +/- 0.586,0.836 +/- 0.718,0.270 +/- 0.404,0.288 +/- 0.198,0.009 +/- 0.020
5,cf,-,-,-,0.293 +/- 0.585,0.299 +/- 0.583,0.292 +/- 0.582,0.227 +/- 0.385,0.273 +/- 0.521,0.228 +/- 0.386,0.239 +/- 0.389,0.240 +/- 0.388,0.240 +/- 0.388,0.198 +/- 0.392
6,sl_mlp,0.486 +/- 0.385,0.486 +/- 0.385,-,0.762 +/- 1.178,2.664 +/- 0.941,1.529 +/- 1.690,1.917 +/- 4.749,1.921 +/- 4.748,1.919 +/- 4.749,2.416 +/- 4.592,0.342 +/- 0.201,0.672 +/- 0.431,0.104 +/- 0.113
7,tl_mlp,0.221 +/- 0.229,0.198 +/- 0.143,-,0.306 +/- 0.220,0.459 +/- 0.276,0.481 +/- 0.216,0.218 +/- 0.167,0.285 +/- 0.143,0.289 +/- 0.204,0.471 +/- 0.255,0.507 +/- 0.624,0.396 +/- 0.343,0.000 +/- 0.000
8,drs_l1,-,-,0.462 +/- 0.702,0.550 +/- 0.854,0.544 +/- 0.855,0.553 +/- 0.852,0.648 +/- 1.189,0.805 +/- 1.396,0.634 +/- 1.196,0.806 +/- 1.602,0.748 +/- 1.873,0.745 +/- 1.874,0.154 +/- 0.300
9,drs_l2,-,-,9098.347 +/- 19179.723,9875.566 +/- 19013.253,9875.566 +/- 19013.253,9875.566 +/- 19013.253,9875.566 +/- 19013.253,9875.566 +/- 19013.253,9875.566 +/- 19013.253,9875.566 +/- 19013.253,9756.584 +/- 19039.450,9875.566 +/- 19013.253,1489.158 +/- 1762.118
10,drs_dt,-,-,1841.518 +/- 4105.100,1362.941 +/- 4087.388,1362.931 +/- 4087.392,1362.931 +/- 4087.392,1362.939 +/- 4087.389,1362.939 +/- 4087.389,1362.939 +/- 4087.389,1632.134 +/- 4077.408,1481.979 +/- 4063.230,1632.126 +/- 4077.412,4.414 +/- 12.227

In [6]:
df[['name', f'{avg_metric}_mse', f'{avg_metric}_r2', f'{avg_metric}_mixed', f'{avg_metric}_test']]

,name,ate_mse,ate_r2,ate_mixed,ate_test
0,sl,0.246 +/- 0.294,NaN,NaN,0.001 +/- 0.003
1,tl,0.168 +/- 0.293,NaN,NaN,0.000 +/- 0.000
2,ipsws,0.131 +/- 0.101,NaN,NaN,0.001 +/- 0.001
3,dmls,-,NaN,NaN,0.007 +/- 0.010
4,xl,-,NaN,NaN,0.009 +/- 0.020
5,cf,-,-,-,0.198 +/- 0.392
6,sl_mlp,0.486 +/- 0.385,0.486 +/- 0.385,-,0.104 +/- 0.113
7,tl_mlp,0.221 +/- 0.229,0.198 +/- 0.143,-,0.000 +/- 0.000
8,drs_l1,-,-,0.462 +/- 0.702,0.154 +/- 0.300
9,drs_l2,-,-,9098.347 +/- 19179.723,1489.158 +/- 1762.118
10,drs_dt,-,-,1841.518 +/- 4105.100,4.414 +/- 12.227

In [7]:
df = show(df_all, ite_metric, 'pehe', plugin_models, rscore_base_models)
df

,name,pehe_mse,pehe_r2,pehe_mixed,pehe_sl_dt_pehe,pehe_sl_lgbm_pehe,pehe_sl_cb_pehe,pehe_tl_dt_pehe,pehe_tl_lgbm_pehe,pehe_tl_cb_pehe,pehe_rs_dt,pehe_rs_lgbm,pehe_rs_cb,pehe_test
0,sl,1.373 +/- 1.836,NaN,NaN,4.257 +/- 7.929,6.998 +/- 6.783,4.091 +/- 5.800,2.334 +/- 3.995,2.643 +/- 3.800,2.347 +/- 3.569,2.190 +/- 2.068,1.548 +/- 2.092,1.609 +/- 1.725,1.205 +/- 1.683
1,tl,0.701 +/- 0.607,NaN,NaN,4.150 +/- 7.970,6.998 +/- 6.783,4.384 +/- 6.081,2.689 +/- 4.397,2.001 +/- 2.914,2.070 +/- 3.232,2.176 +/- 2.045,1.129 +/- 1.136,1.502 +/- 1.712,0.621 +/- 0.601
2,ipsws,1.552 +/- 2.179,NaN,NaN,4.233 +/- 7.936,6.998 +/- 6.783,3.816 +/- 5.918,2.650 +/- 4.148,2.697 +/- 3.905,2.461 +/- 3.770,2.129 +/- 2.119,1.396 +/- 1.827,1.654 +/- 1.953,1.204 +/- 1.680
3,dmls,-,NaN,NaN,2.885 +/- 4.466,4.210 +/- 3.904,3.393 +/- 3.841,2.170 +/- 3.195,2.175 +/- 2.821,2.124 +/- 2.831,3.069 +/- 3.744,2.005 +/- 2.640,2.325 +/- 2.667,1.679 +/- 2.489
4,xl,-,NaN,NaN,4.210 +/- 7.947,6.998 +/- 6.783,3.428 +/- 5.112,2.680 +/- 4.152,2.200 +/- 3.043,2.261 +/- 3.354,2.592 +/- 3.251,1.276 +/- 1.344,1.287 +/- 1.218,1.067 +/- 1.226
5,cf,-,-,-,2.903 +/- 4.661,2.948 +/- 4.650,2.880 +/- 4.673,2.594 +/- 4.296,2.545 +/- 3.783,2.331 +/- 3.581,2.300 +/- 3.554,2.295 +/- 3.556,2.297 +/- 3.555,2.290 +/- 3.559
6,sl_mlp,1.064 +/- 0.637,1.064 +/- 0.637,-,3.530 +/- 6.062,5.254 +/- 5.333,3.733 +/- 5.152,3.377 +/- 6.626,3.493 +/- 6.620,3.383 +/- 6.624,3.703 +/- 6.482,1.232 +/- 0.831,1.345 +/- 0.945,0.925 +/- 0.673
7,tl_mlp,0.894 +/- 0.549,0.868 +/- 0.525,-,2.141 +/- 2.989,2.365 +/- 2.875,2.208 +/- 2.963,1.982 +/- 2.786,2.081 +/- 2.534,2.114 +/- 2.790,1.885 +/- 2.209,1.399 +/- 1.488,1.314 +/- 1.401,0.641 +/- 0.570
8,drs_l1,-,-,3.260 +/- 6.075,3.624 +/- 6.274,3.898 +/- 6.182,3.632 +/- 6.270,2.558 +/- 4.051,3.003 +/- 4.212,2.587 +/- 4.038,2.500 +/- 3.813,2.235 +/- 3.690,2.231 +/- 3.692,2.189 +/- 3.709
9,drs_l2,-,-,39751.893 +/- 75399.524,39752.871 +/- 75496.612,39752.871 +/- 75496.612,39752.871 +/- 75496.612,39752.871 +/- 75496.612,39752.871 +/- 75496.612,39752.871 +/- 75496.612,39752.871 +/- 75496.612,39598.526 +/- 75544.211,39752.871 +/- 75496.612,38249.429 +/- 76044.970
10,drs_dt,-,-,5988.477 +/- 13908.625,4414.669 +/- 13235.201,4414.660 +/- 13235.204,4414.660 +/- 13235.204,4414.669 +/- 13235.201,4414.669 +/- 13235.201,4414.669 +/- 13235.201,4683.796 +/- 13169.916,6291.854 +/- 13795.428,4683.791 +/- 13169.918,4414.533 +/- 13235.247

In [8]:
df[['name', f'{ite_metric}_mse', f'{ite_metric}_r2', f'{ite_metric}_mixed', f'{ite_metric}_test']]

,name,pehe_mse,pehe_r2,pehe_mixed,pehe_test
0,sl,1.373 +/- 1.836,NaN,NaN,1.205 +/- 1.683
1,tl,0.701 +/- 0.607,NaN,NaN,0.621 +/- 0.601
2,ipsws,1.552 +/- 2.179,NaN,NaN,1.204 +/- 1.680
3,dmls,-,NaN,NaN,1.679 +/- 2.489
4,xl,-,NaN,NaN,1.067 +/- 1.226
5,cf,-,-,-,2.290 +/- 3.559
6,sl_mlp,1.064 +/- 0.637,1.064 +/- 0.637,-,0.925 +/- 0.673
7,tl_mlp,0.894 +/- 0.549,0.868 +/- 0.525,-,0.641 +/- 0.570
8,drs_l1,-,-,3.260 +/- 6.075,2.189 +/- 3.709
9,drs_l2,-,-,39751.893 +/- 75399.524,38249.429 +/- 76044.970
10,drs_dt,-,-,5988.477 +/- 13908.625,4414.533 +/- 13235.247

## JOBS