In [1]:
import os
import numpy as np
import pandas as pd

from utils import get_achieved_best, get_achieved_best_plugin, get_best_metric, get_best_by

In [28]:
meta_models = ['sl', 'tl']
base_models = ['l1', 'l2', 'dt', 'rf', 'et', 'kr', 'cb', 'lgbm']
base_metrics_dir = '../results/metrics/run1/'
plugin_dir = '../results/scores/run1/'

plugin_meta_models = ['sl', 'tl']
plugin_base_models = ['dt', 'lgbm', 'cb']

In [37]:
def process_test():
    test_list = []
    for mm in meta_models:
        for bm in base_models:
            est_name = f'{mm}_{bm}'

            # Test ATE and PEHE
            df_base_test = pd.read_csv(os.path.join(base_metrics_dir, est_name, f'{est_name}_test_metrics.csv'))
            ate_test_i = get_best_metric(df_base_test, 'ate')
            pehe_test_i = get_best_metric(df_base_test, 'pehe')
            test_list.append([est_name, ate_test_i, pehe_test_i])

    return pd.DataFrame(test_list, columns=['name', 'ate_test', 'pehe_test'])

In [43]:
def process_mse(df_main):
    mse_list = []
    for mm in meta_models:
        for bm in base_models:
            est_name = f'{mm}_{bm}'
            df_base_test = pd.read_csv(os.path.join(base_metrics_dir, est_name, f'{est_name}_test_metrics.csv'))

            # Val MSE
            df_base_val = pd.read_csv(os.path.join(base_metrics_dir, est_name, f'{est_name}_val_metrics.csv'))
            df_base_val_gr = df_base_val.groupby(['iter_id', 'param_id'], as_index=False).mean().drop(columns=['fold_id'])

            if mm == 'tl':
                df_base_val_gr['mse'] = df_base_val_gr[['mse_m0', 'mse_m1']].mean(axis=1)
                df_base_test['mse'] = df_base_test[['mse_m0', 'mse_m1']].mean(axis=1)

            df_base = df_base_val_gr.merge(df_base_test, on=['iter_id', 'param_id'], suffixes=['_val', '_test'])
            mse_i = get_best_by(df_base, 'mse_val', ['ate_test', 'pehe_test'])
            mse_list.append([est_name] + mse_i)

    df_mse = pd.DataFrame(mse_list, columns=['name', 'ate_mse', 'pehe_mse'])
    return df_main.merge(df_mse, on=['name'])

In [39]:
def process_plugins(df_main):
    df_copy = df_main.copy()
    for plugin_mm in plugin_meta_models:
        for plugin_bm in plugin_base_models:
            plugin_name = f'{plugin_mm}_{plugin_bm}'
            plugin_path = f'{plugin_dir}{plugin_name}'
            plugin_ate_list = []
            plugin_pehe_list = []
            for mm in meta_models:
                for bm in base_models:
                    est_name = f'{mm}_{bm}'
                    df_base_test = pd.read_csv(os.path.join(base_metrics_dir, est_name, f'{est_name}_test_metrics.csv'))

                    # Plugin ATE and PEHE
                    df_plugin_val = pd.read_csv(os.path.join(plugin_dir, plugin_name, f'{est_name}_plugin_{plugin_name}.csv'))
                    df_plugin_val_gr = df_plugin_val.groupby(['iter_id', 'param_id'], as_index=False).mean().drop(columns=['fold_id'])
                    df_plugin = df_plugin_val_gr.merge(df_base_test, on=['iter_id', 'param_id'], suffixes=['_val', '_test'])
                    plugin_ate_i = get_best_by(df_plugin, 'ate_val', ['ate_test', 'pehe_test'])
                    plugin_pehe_i = get_best_by(df_plugin, 'pehe_val', ['ate_test', 'pehe_test'])
                    plugin_ate_list.append([est_name] + plugin_ate_i)
                    plugin_pehe_list.append([est_name] + plugin_pehe_i)

            df_plugin_ate = pd.DataFrame(plugin_ate_list, columns=['name', f'ate_{plugin_name}_ate', f'pehe_{plugin_name}_ate'])
            df_plugin_pehe = pd.DataFrame(plugin_pehe_list, columns=['name', f'ate_{plugin_name}_pehe', f'pehe_{plugin_name}_pehe'])
            df_plugin = df_plugin_ate.merge(df_plugin_pehe, on=['name'])
            df_copy = df_copy.merge(df_plugin, on=['name'])
    
    return df_copy

In [40]:
df_test = process_test()
df_mse = process_mse(df_test)
df_plugins = process_plugins(df_mse)

In [55]:
metric = 'ate'
p_metric = 'ate'
cols = ['name', f'{metric}_mse'] + [f'{metric}_{pmm}_{pbm}_{p_metric}' for pmm in plugin_meta_models for pbm in plugin_base_models] + [f'{metric}_test']
df_plugins[cols]

,name,ate_mse,ate_sl_dt_ate,ate_sl_lgbm_ate,ate_sl_cb_ate,ate_tl_dt_ate,ate_tl_lgbm_ate,ate_tl_cb_ate,ate_test
0,sl_l1,4.791 +/- 2.711,1.495 +/- 3.782,4.791 +/- 2.711,1.850 +/- 2.532,1.178 +/- 2.700,1.178 +/- 2.700,1.178 +/- 2.700,1.136 +/- 2.708
1,sl_l2,1.676 +/- 2.643,1.171 +/- 2.805,1.676 +/- 2.643,1.676 +/- 2.643,1.158 +/- 2.646,1.158 +/- 2.646,1.158 +/- 2.646,1.100 +/- 2.658
2,sl_dt,0.388 +/- 0.807,0.722 +/- 1.240,0.459 +/- 0.781,0.469 +/- 0.797,0.497 +/- 0.743,0.532 +/- 0.788,0.449 +/- 0.702,0.008 +/- 0.014
3,sl_rf,0.986 +/- 2.165,0.874 +/- 2.168,1.253 +/- 2.943,0.914 +/- 2.155,0.286 +/- 0.450,0.204 +/- 0.354,0.266 +/- 0.459,0.043 +/- 0.050
4,sl_et,0.914 +/- 2.423,0.841 +/- 2.236,0.910 +/- 2.424,0.755 +/- 1.961,0.241 +/- 0.368,0.245 +/- 0.385,0.236 +/- 0.371,0.106 +/- 0.281
5,sl_kr,4.791 +/- 2.711,1.402 +/- 3.510,4.791 +/- 2.711,1.613 +/- 1.549,0.130 +/- 0.092,0.119 +/- 0.106,0.287 +/- 0.489,0.044 +/- 0.081
6,sl_cb,1.317 +/- 1.364,0.799 +/- 1.531,1.317 +/- 1.364,1.317 +/- 1.364,0.230 +/- 0.167,0.239 +/- 0.160,0.239 +/- 0.163,0.209 +/- 0.147
7,sl_lgbm,0.193 +/- 0.186,0.205 +/- 0.211,0.187 +/- 0.181,0.187 +/- 0.181,0.274 +/- 0.320,0.274 +/- 0.326,0.276 +/- 0.323,0.106 +/- 0.144
8,tl_l1,0.461 +/- 0.450,1.894 +/- 3.865,4.791 +/- 2.711,1.461 +/- 0.812,0.349 +/- 0.495,0.358 +/- 0.493,0.358 +/- 0.493,0.308 +/- 0.418
9,tl_l2,0.470 +/- 0.524,0.474 +/- 0.684,0.589 +/- 0.632,0.589 +/- 0.632,0.401 +/- 0.510,0.400 +/- 0.511,0.404 +/- 0.512,0.349 +/- 0.519
10,tl_dt,0.247 +/- 0.197,0.243 +/- 0.267,0.537 +/- 0.739,0.535 +/- 0.739,0.230 +/- 0.191,0.224 +/- 0.208,0.216 +/- 0.128,0.000 +/- 0.001
11,tl_rf,0.148 +/- 0.148,0.152 +/- 0.145,0.290 +/- 0.397,0.290 +/- 0.397,0.128 +/- 0.111,0.131 +/- 0.105,0.130 +/- 0.121,0.065 +/- 0.119
12,tl_et,0.259 +/- 0.616,0.450 +/- 0.859,0.442 +/- 0.858,0.442 +/- 0.858,0.264 +/- 0.582,0.272 +/- 0.602,0.256 +/- 0.557,0.103 +/- 0.305
13,tl_kr,0.174 +/- 0.292,1.833 +/- 3.423,4.791 +/- 2.711,1.705 +/- 1.249,0.293 +/- 0.297,0.278 +/- 0.245,0.207 +/- 0.177,0.008 +/- 0.015
14,tl_cb,0.106 +/- 0.059,0.110 +/- 0.086,0.122 +/- 0.091,0.122 +/- 0.091,0.121 +/- 0.110,0.081 +/- 0.056,0.182 +/- 0.206,0.030 +/- 0.040
15,tl_lgbm,0.199 +/- 0.205,0.207 +/- 0.195,0.213 +/- 0.196,0.212 +/- 0.196,0.196 +/- 0.186,0.205 +/- 0.183,0.182 +/- 0.117,0.125 +/- 0.119

In [56]:
metric = 'ate'
p_metric = 'pehe'
cols = ['name', f'{metric}_mse'] + [f'{metric}_{pmm}_{pbm}_{p_metric}' for pmm in plugin_meta_models for pbm in plugin_base_models] + [f'{metric}_test']
df_plugins[cols]

,name,ate_mse,ate_sl_dt_pehe,ate_sl_lgbm_pehe,ate_sl_cb_pehe,ate_tl_dt_pehe,ate_tl_lgbm_pehe,ate_tl_cb_pehe,ate_test
0,sl_l1,4.791 +/- 2.711,1.730 +/- 3.781,4.791 +/- 2.711,2.001 +/- 2.482,1.190 +/- 2.695,1.178 +/- 2.700,1.190 +/- 2.695,1.136 +/- 2.708
1,sl_l2,1.676 +/- 2.643,1.165 +/- 2.807,1.676 +/- 2.643,1.625 +/- 2.490,1.158 +/- 2.646,1.158 +/- 2.646,1.158 +/- 2.646,1.100 +/- 2.658
2,sl_dt,0.388 +/- 0.807,0.422 +/- 0.802,0.407 +/- 0.796,0.418 +/- 0.793,0.431 +/- 0.585,0.231 +/- 0.387,0.412 +/- 0.560,0.008 +/- 0.014
3,sl_rf,0.986 +/- 2.165,1.246 +/- 2.946,1.261 +/- 2.940,0.898 +/- 2.092,0.254 +/- 0.466,0.261 +/- 0.354,0.307 +/- 0.468,0.043 +/- 0.050
4,sl_et,0.914 +/- 2.423,0.892 +/- 2.431,0.915 +/- 2.424,0.762 +/- 1.998,0.361 +/- 0.576,0.449 +/- 0.780,0.381 +/- 0.618,0.106 +/- 0.281
5,sl_kr,4.791 +/- 2.711,1.665 +/- 3.805,4.791 +/- 2.711,1.693 +/- 1.784,0.578 +/- 1.248,0.351 +/- 0.595,0.386 +/- 0.726,0.044 +/- 0.081
6,sl_cb,1.317 +/- 1.364,0.757 +/- 1.543,1.317 +/- 1.364,1.317 +/- 1.364,0.439 +/- 0.742,0.485 +/- 0.738,0.439 +/- 0.742,0.209 +/- 0.147
7,sl_lgbm,0.193 +/- 0.186,0.192 +/- 0.171,0.194 +/- 0.169,0.193 +/- 0.170,0.188 +/- 0.166,0.203 +/- 0.190,0.195 +/- 0.173,0.106 +/- 0.144
8,tl_l1,0.461 +/- 0.450,1.913 +/- 3.715,4.791 +/- 2.711,1.742 +/- 1.403,0.690 +/- 0.780,0.712 +/- 0.754,0.659 +/- 0.762,0.308 +/- 0.418
9,tl_l2,0.470 +/- 0.524,0.530 +/- 0.666,0.600 +/- 0.639,0.600 +/- 0.639,0.447 +/- 0.533,0.461 +/- 0.527,0.459 +/- 0.526,0.349 +/- 0.519
10,tl_dt,0.247 +/- 0.197,0.265 +/- 0.385,0.339 +/- 0.352,0.290 +/- 0.374,0.320 +/- 0.526,0.380 +/- 0.572,0.270 +/- 0.427,0.000 +/- 0.001
11,tl_rf,0.148 +/- 0.148,0.282 +/- 0.485,0.287 +/- 0.479,0.282 +/- 0.484,0.282 +/- 0.392,0.241 +/- 0.409,0.249 +/- 0.407,0.065 +/- 0.119
12,tl_et,0.259 +/- 0.616,0.317 +/- 0.478,0.325 +/- 0.476,0.296 +/- 0.492,0.219 +/- 0.394,0.213 +/- 0.338,0.219 +/- 0.380,0.103 +/- 0.305
13,tl_kr,0.174 +/- 0.292,1.681 +/- 3.798,4.791 +/- 2.711,1.928 +/- 3.223,0.156 +/- 0.143,0.150 +/- 0.129,0.170 +/- 0.169,0.008 +/- 0.015
14,tl_cb,0.106 +/- 0.059,0.242 +/- 0.375,0.240 +/- 0.381,0.239 +/- 0.372,0.248 +/- 0.379,0.230 +/- 0.382,0.239 +/- 0.379,0.030 +/- 0.040
15,tl_lgbm,0.199 +/- 0.205,0.166 +/- 0.114,0.202 +/- 0.142,0.192 +/- 0.152,0.175 +/- 0.133,0.209 +/- 0.189,0.167 +/- 0.114,0.125 +/- 0.119

In [57]:
metric = 'pehe'
p_metric = 'ate'
cols = ['name', f'{metric}_mse'] + [f'{metric}_{pmm}_{pbm}_{p_metric}' for pmm in plugin_meta_models for pbm in plugin_base_models] + [f'{metric}_test']
df_plugins[cols]

,name,pehe_mse,pehe_sl_dt_ate,pehe_sl_lgbm_ate,pehe_sl_cb_ate,pehe_tl_dt_ate,pehe_tl_lgbm_ate,pehe_tl_cb_ate,pehe_test
0,sl_l1,6.998 +/- 6.783,4.565 +/- 7.770,6.998 +/- 6.783,4.848 +/- 7.142,4.417 +/- 7.338,4.417 +/- 7.338,4.417 +/- 7.338,4.414 +/- 7.336
1,sl_l2,4.647 +/- 7.271,4.426 +/- 7.370,4.647 +/- 7.271,4.647 +/- 7.271,4.409 +/- 7.320,4.409 +/- 7.320,4.409 +/- 7.320,4.405 +/- 7.317
2,sl_dt,4.875 +/- 7.756,5.485 +/- 8.487,5.355 +/- 7.776,5.771 +/- 8.816,5.536 +/- 8.236,5.497 +/- 8.143,5.463 +/- 8.215,4.837 +/- 7.771
3,sl_rf,4.596 +/- 7.213,4.733 +/- 7.174,4.738 +/- 7.343,4.682 +/- 7.183,5.182 +/- 8.232,5.068 +/- 8.051,5.204 +/- 8.226,4.570 +/- 7.220
4,sl_et,4.607 +/- 7.275,4.812 +/- 7.174,4.861 +/- 7.178,4.843 +/- 7.126,5.441 +/- 8.753,5.448 +/- 8.654,5.448 +/- 8.751,4.533 +/- 7.236
5,sl_kr,6.998 +/- 6.783,4.964 +/- 7.546,6.998 +/- 6.783,5.015 +/- 7.502,6.017 +/- 10.008,6.029 +/- 10.039,6.308 +/- 10.895,4.423 +/- 7.268
6,sl_cb,5.484 +/- 8.139,5.276 +/- 8.233,5.484 +/- 8.139,5.484 +/- 8.139,5.488 +/- 8.744,5.485 +/- 8.740,5.489 +/- 8.739,5.207 +/- 8.171
7,sl_lgbm,5.625 +/- 8.867,5.621 +/- 8.870,5.613 +/- 8.874,5.613 +/- 8.874,5.692 +/- 9.087,5.692 +/- 9.084,5.696 +/- 9.082,5.573 +/- 8.877
8,tl_l1,5.910 +/- 9.286,5.465 +/- 7.838,6.998 +/- 6.783,5.908 +/- 9.031,5.865 +/- 9.283,5.877 +/- 9.298,5.886 +/- 9.294,4.486 +/- 6.831
9,tl_l2,5.819 +/- 9.259,5.917 +/- 9.246,5.757 +/- 9.258,5.757 +/- 9.258,5.922 +/- 9.268,5.915 +/- 9.271,5.916 +/- 9.268,5.609 +/- 9.000
10,tl_dt,5.802 +/- 9.038,6.062 +/- 9.234,5.681 +/- 8.456,5.688 +/- 8.453,5.712 +/- 8.559,5.871 +/- 8.612,5.763 +/- 8.530,5.176 +/- 8.235
11,tl_rf,5.600 +/- 8.819,5.538 +/- 8.821,5.427 +/- 8.749,5.427 +/- 8.749,5.496 +/- 8.816,5.494 +/- 8.762,5.288 +/- 8.134,4.970 +/- 7.995
12,tl_et,5.812 +/- 9.316,5.665 +/- 9.380,5.743 +/- 9.435,5.743 +/- 9.435,5.749 +/- 9.293,5.776 +/- 9.266,5.800 +/- 9.325,4.771 +/- 7.698
13,tl_kr,6.113 +/- 9.790,6.035 +/- 7.651,6.998 +/- 6.783,5.172 +/- 7.135,6.576 +/- 9.573,6.608 +/- 9.649,6.598 +/- 9.698,4.407 +/- 6.862
14,tl_cb,5.942 +/- 9.383,5.931 +/- 9.375,5.974 +/- 9.355,5.974 +/- 9.355,5.919 +/- 9.409,5.929 +/- 9.424,5.711 +/- 8.859,5.037 +/- 8.116
15,tl_lgbm,6.149 +/- 9.376,6.157 +/- 9.336,6.159 +/- 9.334,6.162 +/- 9.333,6.179 +/- 9.412,6.186 +/- 9.428,6.153 +/- 9.324,6.071 +/- 9.300

In [58]:
metric = 'pehe'
p_metric = 'pehe'
cols = ['name', f'{metric}_mse'] + [f'{metric}_{pmm}_{pbm}_{p_metric}' for pmm in plugin_meta_models for pbm in plugin_base_models] + [f'{metric}_test']
df_plugins[cols]

,name,pehe_mse,pehe_sl_dt_pehe,pehe_sl_lgbm_pehe,pehe_sl_cb_pehe,pehe_tl_dt_pehe,pehe_tl_lgbm_pehe,pehe_tl_cb_pehe,pehe_test
0,sl_l1,6.998 +/- 6.783,4.609 +/- 7.793,6.998 +/- 6.783,4.955 +/- 7.092,4.418 +/- 7.337,4.417 +/- 7.338,4.418 +/- 7.337,4.414 +/- 7.336
1,sl_l2,4.647 +/- 7.271,4.425 +/- 7.371,4.647 +/- 7.271,4.628 +/- 7.218,4.409 +/- 7.320,4.409 +/- 7.320,4.409 +/- 7.320,4.405 +/- 7.317
2,sl_dt,4.875 +/- 7.756,4.917 +/- 7.738,4.870 +/- 7.756,4.871 +/- 7.755,5.265 +/- 8.279,5.075 +/- 8.012,5.284 +/- 8.287,4.837 +/- 7.771
3,sl_rf,4.596 +/- 7.213,4.687 +/- 7.362,4.669 +/- 7.363,4.622 +/- 7.224,5.046 +/- 7.987,5.044 +/- 8.162,5.115 +/- 8.220,4.570 +/- 7.220
4,sl_et,4.607 +/- 7.275,4.659 +/- 7.254,4.636 +/- 7.260,4.629 +/- 7.273,5.030 +/- 7.966,4.958 +/- 8.139,4.936 +/- 7.900,4.533 +/- 7.236
5,sl_kr,6.998 +/- 6.783,4.734 +/- 7.741,6.998 +/- 6.783,4.911 +/- 7.083,4.956 +/- 8.092,5.144 +/- 8.808,5.109 +/- 8.660,4.423 +/- 7.268
6,sl_cb,5.484 +/- 8.139,5.238 +/- 8.247,5.484 +/- 8.139,5.484 +/- 8.139,5.231 +/- 8.183,5.211 +/- 8.170,5.231 +/- 8.183,5.207 +/- 8.171
7,sl_lgbm,5.625 +/- 8.867,5.607 +/- 8.937,5.623 +/- 8.931,5.611 +/- 8.935,5.635 +/- 9.015,5.615 +/- 8.941,5.609 +/- 8.941,5.573 +/- 8.877
8,tl_l1,5.910 +/- 9.286,4.916 +/- 7.661,6.998 +/- 6.783,4.981 +/- 6.903,5.097 +/- 8.012,5.058 +/- 8.075,5.098 +/- 8.058,4.486 +/- 6.831
9,tl_l2,5.819 +/- 9.259,5.619 +/- 8.999,5.642 +/- 8.989,5.642 +/- 8.989,5.617 +/- 9.010,5.618 +/- 9.010,5.617 +/- 9.010,5.609 +/- 9.000
10,tl_dt,5.802 +/- 9.038,5.262 +/- 8.208,5.320 +/- 8.233,5.275 +/- 8.201,5.345 +/- 8.243,5.354 +/- 8.358,5.361 +/- 8.284,5.176 +/- 8.235
11,tl_rf,5.600 +/- 8.819,5.015 +/- 7.993,5.016 +/- 7.998,5.015 +/- 7.992,5.102 +/- 8.066,5.128 +/- 8.224,5.153 +/- 8.208,4.970 +/- 7.995
12,tl_et,5.812 +/- 9.316,4.868 +/- 7.668,4.835 +/- 7.677,4.887 +/- 7.670,5.152 +/- 8.062,5.067 +/- 8.264,5.057 +/- 8.026,4.771 +/- 7.698
13,tl_kr,6.113 +/- 9.790,4.873 +/- 7.689,6.998 +/- 6.783,4.924 +/- 7.550,5.439 +/- 8.957,5.421 +/- 8.969,5.428 +/- 8.969,4.407 +/- 6.862
14,tl_cb,5.942 +/- 9.383,5.095 +/- 8.094,5.128 +/- 8.073,5.123 +/- 8.078,5.136 +/- 8.155,5.176 +/- 8.359,5.116 +/- 8.158,5.037 +/- 8.116
15,tl_lgbm,6.149 +/- 9.376,6.126 +/- 9.321,6.129 +/- 9.298,6.124 +/- 9.299,6.141 +/- 9.337,6.154 +/- 9.427,6.125 +/- 9.318,6.071 +/- 9.300