In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Get MSE and PEHE per (data iter, CV fold, param) tuple (valid MSE, valid PEHE)
# Get MSE and PEHE per (data iter, param) tuple (test MSE, test PEHE)
val_scores = pd.read_csv('./debug/sl_dt_val_metrics.csv')
test_scores = pd.read_csv('./debug/sl_dt_test_metrics.csv')

In [3]:
val_scores.head()

   iter_id  fold_id  param_id       mse       ate      pehe
0        1        1         1  2.092745  0.000464  1.361742
1        1        2         1  1.529520  0.101542  1.010493
2        1        3         1  1.542413  0.086043  1.070330
3        1        4         1  1.867985  0.166017  1.361113
4        1        5         1  1.584208  0.152015  1.069577

In [28]:
val_scores.groupby(['iter_id', 'param_id'], as_index=False).mean()

   iter_id  param_id  fold_id       mse       ate      pehe
0        1         1      5.5  1.671135  0.136018  1.145796
1        1         2      5.5  1.739543  0.108436  1.223003
2        1         3      5.5  1.816634  0.102436  1.325447

In [33]:
test_scores

   iter_id  param_id       mse       ate      pehe
0        1         1  1.837094  0.002232  1.218570
1        1         2  1.961673  0.013703  1.388833
2        1         3  2.035585  0.040747  1.570412

In [29]:
val_scores_mean = val_scores.groupby(['iter_id', 'param_id'], as_index=False).mean()

In [31]:
val_scores_mean

   iter_id  param_id  fold_id       mse       ate      pehe
0        1         1      5.5  1.671135  0.136018  1.145796
1        1         2      5.5  1.739543  0.108436  1.223003
2        1         3      5.5  1.816634  0.102436  1.325447

In [36]:
df_merged = val_scores_mean.merge(test_scores, on=['iter_id', 'param_id'], suffixes=['_val', '_test'])

In [37]:
df_merged

,iter_id,param_id,fold_id,mse_val,ate_val,pehe_val,mse_test,ate_test,pehe_test
0,1,1,5.5,1.671135,0.136018,1.145796,1.837094,0.002232,1.218570
1,1,2,5.5,1.739543,0.108436,1.223003,1.961673,0.013703,1.388833
2,1,3,5.5,1.816634,0.102436,1.325447,2.035585,0.040747,1.570412

In [54]:
# Best val MSE
df_merged.loc[df_merged['mse_val'].idxmin(), ['mse_val', 'pehe_test']]

mse_val      1.671135
pehe_test    1.218570
Name: 0, dtype: float64

In [55]:
# Best test PEHE
df_merged.loc[df_merged['pehe_test'].idxmin(), ['mse_val', 'pehe_test']]

mse_val      1.671135
pehe_test    1.218570
Name: 0, dtype: float64

In [47]:
df_merged[['mse_val', 'ate_val', 'pehe_val', 'ate_test', 'pehe_test']].corr()

            mse_val   ate_val  pehe_val  ate_test  pehe_test
mse_val    1.000000 -0.925016  0.998920  0.981070   0.999874
ate_val   -0.925016  1.000000 -0.906363 -0.833929  -0.930931
pehe_val   0.998920 -0.906363  1.000000  0.989008   0.998056
ate_test   0.981070 -0.833929  0.989008  1.000000   0.977871
pehe_test  0.999874 -0.930931  0.998056  0.977871   1.000000

In [48]:
df_merged[['ate_val', 'pehe_val', 'ate_test', 'pehe_test']].corrwith(df_merged['mse_val'])

ate_val     -0.925016
pehe_val     0.998920
ate_test     0.981070
pehe_test    0.999874
dtype: float64