In [1]:
import pandas as pd

from utils import load_merge, get_mse_corr, get_risk, get_achieved_best

In [3]:
path = '../results/metrics/'

meta_model = 'sl'
base_models = ['l1', 'l1_inter', 'l2', 'l2_inter', 'dt', 'rf', 'et', 'kr', 'cb', 'lgbm']

mse_corr_list = []
risk_list = []
best_list = []

In [4]:
for b_m in base_models:
    main_df = load_merge(path, f'{meta_model}_{b_m}')

    corr_i = get_mse_corr(main_df)
    mse_corr_list.append([f'{meta_model}-{b_m}'] + corr_i)

    r_ate, r_pehe = get_risk(main_df)
    risk_list.append([f'{meta_model}-{b_m}'] + r_ate + r_pehe)

    best_i = get_achieved_best(main_df)
    best_list.append([f'{meta_model}-{b_m}'] + best_i)

In [5]:
df_corr = pd.DataFrame(mse_corr_list, columns=['name', 'ate_val', 'pehe_val', 'mse_test', 'ate_test', 'pehe_test'])

In [6]:
df_corr

          name           ate_val  ...          ate_test         pehe_test
0        sl-l1  -0.980 +/- 0.022  ...  -0.978 +/- 0.023  -0.970 +/- 0.019
1  sl-l1_inter  -0.963 +/- 0.020  ...  -0.967 +/- 0.017  -0.949 +/- 0.029
2        sl-l2  -0.998 +/- 0.004  ...  -0.787 +/- 0.597  -0.779 +/- 0.593
3  sl-l2_inter  -0.994 +/- 0.012  ...  -0.738 +/- 0.607  -0.745 +/- 0.594
4        sl-dt   0.266 +/- 0.474  ...   0.130 +/- 0.427   0.884 +/- 0.090
5        sl-rf  -0.389 +/- 0.521  ...  -0.033 +/- 0.492   0.792 +/- 0.311
6        sl-et  -0.201 +/- 0.593  ...  -0.069 +/- 0.591   0.909 +/- 0.096
7        sl-kr  -0.721 +/- 0.140  ...  -0.708 +/- 0.130  -0.287 +/- 0.551
8        sl-cb  -0.970 +/- 0.026  ...  -0.942 +/- 0.083  -0.528 +/- 0.656
9      sl-lgbm   0.023 +/- 0.319  ...  -0.017 +/- 0.285   0.081 +/- 0.271

[10 rows x 6 columns]

In [7]:
df_risk = pd.DataFrame(risk_list, columns=['name', 'ate_risk', 'pehe_risk'])

In [8]:
df_risk

          name         ate_risk        pehe_risk
0        sl-l1  3.654 +/- 0.446  2.584 +/- 0.909
1  sl-l1_inter  3.463 +/- 0.637  2.535 +/- 0.954
2        sl-l2  0.576 +/- 0.212  0.242 +/- 0.135
3  sl-l2_inter  0.612 +/- 0.239  0.242 +/- 0.136
4        sl-dt  0.380 +/- 0.794  0.038 +/- 0.065
5        sl-rf  0.943 +/- 2.168  0.025 +/- 0.027
6        sl-et  0.808 +/- 2.143  0.074 +/- 0.093
7        sl-kr  4.747 +/- 2.710  2.574 +/- 0.865
8        sl-cb  1.108 +/- 1.252  0.277 +/- 0.136
9      sl-lgbm  0.087 +/- 0.074  0.053 +/- 0.035

In [9]:
df_best = pd.DataFrame(best_list, columns=['name', 'ate_on_mse', 'ate_best', 'pehe_on_mse', 'pehe_best'])

In [10]:
df_best

          name       ate_on_mse  ...      pehe_on_mse        pehe_best
0        sl-l1  4.791 +/- 2.711  ...  6.998 +/- 6.783  4.414 +/- 7.336
1  sl-l1_inter  4.791 +/- 2.711  ...  6.998 +/- 6.783  4.463 +/- 7.427
2        sl-l2  1.676 +/- 2.643  ...  4.647 +/- 7.271  4.405 +/- 7.317
3  sl-l2_inter  1.628 +/- 2.508  ...  4.617 +/- 7.232  4.375 +/- 7.249
4        sl-dt  0.388 +/- 0.807  ...  4.875 +/- 7.756  4.837 +/- 7.771
5        sl-rf  0.986 +/- 2.165  ...  4.596 +/- 7.213  4.570 +/- 7.220
6        sl-et  0.914 +/- 2.423  ...  4.607 +/- 7.275  4.533 +/- 7.236
7        sl-kr  4.791 +/- 2.711  ...  6.998 +/- 6.783  4.423 +/- 7.268
8        sl-cb  1.317 +/- 1.364  ...  5.484 +/- 8.139  5.207 +/- 8.171
9      sl-lgbm  0.193 +/- 0.186  ...  5.625 +/- 8.867  5.573 +/- 8.877

[10 rows x 5 columns]

In [11]:
df_all = df_corr.merge(df_risk, on=['name']).merge(df_best, on=['name'])

In [14]:
df_all[['name', 'ate_val', 'ate_test', 'ate_risk', 'ate_on_mse', 'ate_best']]

          name           ate_val  ...       ate_on_mse         ate_best
0        sl-l1  -0.980 +/- 0.022  ...  4.791 +/- 2.711  1.136 +/- 2.708
1  sl-l1_inter  -0.963 +/- 0.020  ...  4.791 +/- 2.711  1.328 +/- 2.940
2        sl-l2  -0.998 +/- 0.004  ...  1.676 +/- 2.643  1.100 +/- 2.658
3  sl-l2_inter  -0.994 +/- 0.012  ...  1.628 +/- 2.508  1.016 +/- 2.445
4        sl-dt   0.266 +/- 0.474  ...  0.388 +/- 0.807  0.008 +/- 0.014
5        sl-rf  -0.389 +/- 0.521  ...  0.986 +/- 2.165  0.043 +/- 0.050
6        sl-et  -0.201 +/- 0.593  ...  0.914 +/- 2.423  0.106 +/- 0.281
7        sl-kr  -0.721 +/- 0.140  ...  4.791 +/- 2.711  0.044 +/- 0.081
8        sl-cb  -0.970 +/- 0.026  ...  1.317 +/- 1.364  0.209 +/- 0.147
9      sl-lgbm   0.023 +/- 0.319  ...  0.193 +/- 0.186  0.106 +/- 0.144

[10 rows x 6 columns]

In [15]:
df_all[['name', 'pehe_val', 'pehe_test', 'pehe_risk', 'pehe_on_mse', 'pehe_best']]

          name          pehe_val  ...      pehe_on_mse        pehe_best
0        sl-l1  -0.972 +/- 0.020  ...  6.998 +/- 6.783  4.414 +/- 7.336
1  sl-l1_inter  -0.946 +/- 0.034  ...  6.998 +/- 6.783  4.463 +/- 7.427
2        sl-l2  -0.991 +/- 0.008  ...  4.647 +/- 7.271  4.405 +/- 7.317
3  sl-l2_inter  -0.986 +/- 0.015  ...  4.617 +/- 7.232  4.375 +/- 7.249
4        sl-dt   0.964 +/- 0.023  ...  4.875 +/- 7.756  4.837 +/- 7.771
5        sl-rf   0.916 +/- 0.105  ...  4.596 +/- 7.213  4.570 +/- 7.220
6        sl-et   0.956 +/- 0.037  ...  4.607 +/- 7.275  4.533 +/- 7.236
7        sl-kr  -0.227 +/- 0.523  ...  6.998 +/- 6.783  4.423 +/- 7.268
8        sl-cb  -0.518 +/- 0.720  ...  5.484 +/- 8.139  5.207 +/- 8.171
9      sl-lgbm   0.189 +/- 0.359  ...  5.625 +/- 8.867  5.573 +/- 8.877

[10 rows x 6 columns]