In [1]:
import pandas as pd

from utils import load_merge, get_mse_corr, get_risk, get_achieved_best

In [2]:
path = '../results/metrics/'

meta_model = 'tl'
base_models = ['l1', 'l1_inter', 'l2', 'l2_inter', 'dt', 'rf', 'et', 'kr', 'cb', 'lgbm']

mse_corr_list = []
risk_list = []
best_list = []

In [3]:
for b_m in base_models:
    main_df = load_merge(path, f'{meta_model}_{b_m}', cols=['mse_m0', 'mse_m1'])

    corr_i = get_mse_corr(main_df)
    mse_corr_list.append([f'{meta_model}-{b_m}'] + corr_i)

    r_ate, r_pehe = get_risk(main_df)
    risk_list.append([f'{meta_model}-{b_m}'] + r_ate + r_pehe)

    best_i = get_achieved_best(main_df)
    best_list.append([f'{meta_model}-{b_m}'] + best_i)

In [7]:
df_corr = pd.DataFrame(mse_corr_list, columns=['name', 'ate_val', 'pehe_val', 'mse_test', 'ate_test', 'pehe_test'])

In [7]:
df_corr

,name,ate_val,pehe_val,mse_test,ate_test,pehe_test
0,tl-l1,0.828 +/- 0.280,0.575 +/- 0.710,0.997 +/- 0.003,0.806 +/- 0.335,0.571 +/- 0.720
1,tl-l1_inter,0.756 +/- 0.390,-0.846 +/- 0.201,0.888 +/- 0.322,0.280 +/- 0.661,-0.844 +/- 0.208
2,tl-l2,-0.272 +/- 0.589,0.189 +/- 0.730,0.363 +/- 0.702,-0.397 +/- 0.412,0.175 +/- 0.709
3,tl-l2_inter,0.433 +/- 0.698,0.000 +/- 0.803,0.544 +/- 0.584,0.314 +/- 0.668,0.013 +/- 0.809
4,tl-dt,0.490 +/- 0.182,0.285 +/- 0.675,0.627 +/- 0.200,0.201 +/- 0.295,0.272 +/- 0.600
5,tl-rf,0.611 +/- 0.333,-0.674 +/- 0.341,0.629 +/- 0.488,0.384 +/- 0.476,-0.593 +/- 0.368
6,tl-et,0.522 +/- 0.291,-0.609 +/- 0.496,0.688 +/- 0.468,0.209 +/- 0.432,-0.631 +/- 0.453
7,tl-kr,0.744 +/- 0.236,0.557 +/- 0.636,0.881 +/- 0.118,0.729 +/- 0.261,0.488 +/- 0.662
8,tl-cb,0.561 +/- 0.352,-0.518 +/- 0.575,0.470 +/- 0.645,0.193 +/- 0.452,-0.559 +/- 0.514
9,tl-lgbm,0.138 +/- 0.309,0.480 +/- 0.412,0.125 +/- 0.299,0.165 +/- 0.192,0.032 +/- 0.323

In [8]:
df_risk = pd.DataFrame(risk_list, columns=['name', 'ate_risk', 'pehe_risk'])

In [9]:
df_risk

          name         ate_risk        pehe_risk
0        tl-l1  0.153 +/- 0.101  1.424 +/- 2.460
1  tl-l1_inter  0.040 +/- 0.055  1.563 +/- 2.384
2        tl-l2  0.122 +/- 0.100  0.210 +/- 0.268
3  tl-l2_inter  0.051 +/- 0.058  0.309 +/- 0.412
4        tl-dt  0.247 +/- 0.197  0.626 +/- 0.853
5        tl-rf  0.082 +/- 0.103  0.630 +/- 0.849
6        tl-et  0.156 +/- 0.312  1.041 +/- 1.623
7        tl-kr  0.166 +/- 0.282  1.706 +/- 2.929
8        tl-cb  0.077 +/- 0.052  0.906 +/- 1.273
9      tl-lgbm  0.074 +/- 0.107  0.078 +/- 0.085

In [4]:
df_best = pd.DataFrame(best_list, columns=['name', 'ate_on_mse', 'ate_best', 'pehe_on_mse', 'pehe_best'])

In [5]:
df_best

          name       ate_on_mse  ...      pehe_on_mse        pehe_best
0        tl-l1  0.461 +/- 0.450  ...  5.910 +/- 9.286  4.486 +/- 6.831
1  tl-l1_inter  0.152 +/- 0.287  ...  5.824 +/- 9.252  4.261 +/- 6.871
2        tl-l2  0.470 +/- 0.524  ...  5.819 +/- 9.259  5.609 +/- 9.000
3  tl-l2_inter  0.198 +/- 0.382  ...  5.917 +/- 9.516  5.608 +/- 9.129
4        tl-dt  0.247 +/- 0.197  ...  5.802 +/- 9.038  5.176 +/- 8.235
5        tl-rf  0.148 +/- 0.148  ...  5.600 +/- 8.819  4.970 +/- 7.995
6        tl-et  0.259 +/- 0.616  ...  5.812 +/- 9.316  4.771 +/- 7.698
7        tl-kr  0.174 +/- 0.292  ...  6.113 +/- 9.790  4.407 +/- 6.862
8        tl-cb  0.106 +/- 0.059  ...  5.942 +/- 9.383  5.037 +/- 8.116
9      tl-lgbm  0.199 +/- 0.205  ...  6.149 +/- 9.376  6.071 +/- 9.300

[10 rows x 5 columns]

In [9]:
df_all = df_corr.merge(df_risk, on=['name']).merge(df_best, on=['name'])

In [10]:
df_all[['name', 'ate_val', 'ate_test', 'ate_risk', 'ate_on_mse', 'ate_best']]

          name           ate_val  ...       ate_on_mse         ate_best
0        tl-l1   0.828 +/- 0.280  ...  0.461 +/- 0.450  0.308 +/- 0.418
1  tl-l1_inter   0.756 +/- 0.390  ...  0.152 +/- 0.287  0.112 +/- 0.273
2        tl-l2  -0.272 +/- 0.589  ...  0.470 +/- 0.524  0.349 +/- 0.519
3  tl-l2_inter   0.433 +/- 0.698  ...  0.198 +/- 0.382  0.147 +/- 0.352
4        tl-dt   0.490 +/- 0.182  ...  0.247 +/- 0.197  0.000 +/- 0.001
5        tl-rf   0.611 +/- 0.333  ...  0.148 +/- 0.148  0.065 +/- 0.119
6        tl-et   0.522 +/- 0.291  ...  0.259 +/- 0.616  0.103 +/- 0.305
7        tl-kr   0.744 +/- 0.236  ...  0.174 +/- 0.292  0.008 +/- 0.015
8        tl-cb   0.561 +/- 0.352  ...  0.106 +/- 0.059  0.030 +/- 0.040
9      tl-lgbm   0.138 +/- 0.309  ...  0.199 +/- 0.205  0.125 +/- 0.119

[10 rows x 6 columns]

In [11]:
df_all[['name', 'pehe_val', 'pehe_test', 'pehe_risk', 'pehe_on_mse', 'pehe_best']]

          name          pehe_val  ...      pehe_on_mse        pehe_best
0        tl-l1   0.575 +/- 0.710  ...  5.910 +/- 9.286  4.486 +/- 6.831
1  tl-l1_inter  -0.846 +/- 0.201  ...  5.824 +/- 9.252  4.261 +/- 6.871
2        tl-l2   0.189 +/- 0.730  ...  5.819 +/- 9.259  5.609 +/- 9.000
3  tl-l2_inter   0.000 +/- 0.803  ...  5.917 +/- 9.516  5.608 +/- 9.129
4        tl-dt   0.285 +/- 0.675  ...  5.802 +/- 9.038  5.176 +/- 8.235
5        tl-rf  -0.674 +/- 0.341  ...  5.600 +/- 8.819  4.970 +/- 7.995
6        tl-et  -0.609 +/- 0.496  ...  5.812 +/- 9.316  4.771 +/- 7.698
7        tl-kr   0.557 +/- 0.636  ...  6.113 +/- 9.790  4.407 +/- 6.862
8        tl-cb  -0.518 +/- 0.575  ...  5.942 +/- 9.383  5.037 +/- 8.116
9      tl-lgbm   0.480 +/- 0.412  ...  6.149 +/- 9.376  6.071 +/- 9.300

[10 rows x 6 columns]